#gridControls {
    position:relative;
    z-index:5
}
.swiss-control {
    position:relative;
    z-index:5
}
.swiss-control .control-row {
    margin-left:0;
    margin-right:0
}
.swiss-control #swissPointStatistics .swissPointTable {
    min-width:500px
}
.swiss-control #swissPointStatistics .swissPointTable th {
    text-align:center
}
.swiss-control #swissPointStatistics .swissPointTable .glyphicon-question-sign {
    color:#428bca;
    font-size:14px;
    text-decoration:none
}
.swiss-control #swissPointStatistics .swissPointTable .glyphicon-question-sign:hover {
    text-decoration:none
}
.swiss-control .round-btn {
    display:block;
    width:100%;
    height:25px;
    line-height:25px;
    color:#333;
    padding:0
}
.swiss-control .round-btn:active, .swiss-control .round-btn:hover {
    text-decoration:none
}
.swiss-control .round-btn:focus {
    background-color:#fff;
    border-color:#ccc
}
.swiss-control .round-btn:hover {
    background-color:#e6e6e6;
    border-color:#adadad
}
.tournament-grid-wrap {
    margin:0 auto;
    text-align:center
}
.tournament-grid-wrap h3 {
    padding:10px 0
}
.tournament-grid-wrap .one-control {
    padding:0 5px
}
.tournament-grid-wrap .one-control input {
    margin-right:3px
}
.tournament-grid-wrap .one-grid {
    padding:10px 0;
    padding-left:40px;
    white-space:nowrap
}
.tournament-grid-wrap .one-swiss-grid {
    padding:10px 0;
    white-space:nowrap
}
.tournament-grid-wrap .grid-round {
    display:inline-block;
    vertical-align:top;
    position:relative
}
.tournament-grid-wrap .one-match {
    position:relative;
    width:200px
}
.tournament-grid-wrap .match-finished {
    z-index:1
}
.tournament-grid-wrap .line-to-right:after {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:40px;
    height:1px;
    background:#ccc;
    top:50%;
    right:0;
    box-shadow:0 0 2px #ccc
}
.tournament-grid-wrap .line-to-right.match-finished:after {
    background:green
}
.tournament-grid-wrap .line-to-right-up:before {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:50%;
    color:#ccc;
    border-style:solid;
    border-width:0;
    right:20px;
    top:0;
    border-right-width:1px;
    border-bottom-width:1px;
    box-shadow:1px 1px 1px #eee, inset -1px -1px 1px #eee;
    border-radius:0 0 9px
}
.tournament-grid-wrap .line-to-right-up:after {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:1px;
    background:#ccc;
    right:0;
    top:0;
    box-shadow:0 0 2px #eee
}
.tournament-grid-wrap .line-to-right-up.match-finished:before {
    color:green
}
.tournament-grid-wrap .line-to-right-up.match-finished:after {
    background:green
}
.tournament-grid-wrap .line-to-right-down:before {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:50%;
    color:#ccc;
    border-style:solid;
    border-width:0;
    right:20px;
    bottom:-1px;
    border-right-width:1px;
    border-top-width:1px;
    box-shadow:1px -1px 1px #eee, inset -1px 1px 1px #eee;
    border-radius:0 9px 0 0
}
.tournament-grid-wrap .line-to-right-down:after {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:1px;
    background:#ccc;
    right:0;
    bottom:-1px;
    box-shadow:0 0 2px #eee
}
.tournament-grid-wrap .line-to-right-down.match-finished:before {
    color:green
}
.tournament-grid-wrap .line-to-right-down.match-finished:after {
    background:green
}
.tournament-grid-wrap .line-to-right-A:before {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:1px;
    background:#ccc;
    right:20px;
    bottom:50%;
    box-shadow:0 0 2px #eee
}
.tournament-grid-wrap .line-to-right-A:after {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:20px;
    color:#ccc;
    border-style:solid;
    border-width:0;
    right:0;
    bottom:50%;
    border-left-width:1px;
    border-top-width:1px;
    box-shadow:-1px -1px 1px #eee, inset 1px 1px 1px #eee;
    border-radius:9px 0 0
}
.tournament-grid-wrap .line-to-right-A.match-finished:before {
    background:green
}
.tournament-grid-wrap .line-to-right-A.match-finished:after {
    color:green
}
.tournament-grid-wrap .line-to-right-B:before {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:1px;
    background:#ccc;
    right:20px;
    top:50%;
    box-shadow:0 0 2px #eee
}
.tournament-grid-wrap .line-to-right-B:after {
    content:' ';
    position:absolute;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:20px;
    color:#ccc;
    border-style:solid;
    border-width:0;
    right:0;
    top:50%;
    border-left-width:1px;
    border-bottom-width:1px;
    box-shadow:-1px 1px 1px #eee, inset 1px -1px 1px #eee;
    border-radius:0 0 0 9px
}
.tournament-grid-wrap .line-to-right-B.match-finished:before {
    background:green
}
.tournament-grid-wrap .line-to-right-B.match-finished:after {
    color:green
}
.tournament-grid-wrap .grid-row-1 .one-match {
    height:80px
}
.tournament-grid-wrap .grid-row-1 .third-fourth-final {
    top:30px
}
.tournament-grid-wrap .grid-row-2 .one-match {
    height:160px
}
.tournament-grid-wrap .grid-row-2 .third-fourth-final {
    top:-10px
}
.tournament-grid-wrap .grid-row-4 .one-match {
    height:320px
}
.tournament-grid-wrap .grid-row-4 .third-fourth-final {
    top:-90px
}
.tournament-grid-wrap .grid-row-8 .one-match {
    height:640px
}
.tournament-grid-wrap .grid-row-8 .third-fourth-final {
    top:-250px
}
.tournament-grid-wrap .grid-row-16 .one-match {
    height:1280px
}
.tournament-grid-wrap .grid-row-16 .third-fourth-final {
    top:-570px
}
.tournament-grid-wrap .grid-row-32 .one-match {
    height:2560px
}
.tournament-grid-wrap .grid-row-32 .third-fourth-final {
    top:-1210px
}
.tournament-grid-wrap .grid-row-64 .one-match {
    height:5120px
}
.tournament-grid-wrap .grid-row-64 .third-fourth-final {
    top:-2490px
}
.tournament-grid-wrap .grid-row-128 .one-match {
    height:10240px
}
.tournament-grid-wrap .grid-row-128 .third-fourth-final {
    top:-5050px
}
.tournament-grid-wrap .grid-row-256 .one-match {
    height:20480px
}
.tournament-grid-wrap .grid-row-256 .third-fourth-final {
    top:-10170px
}
.tournament-grid-wrap .grid-row-512 .one-match {
    height:40960px
}
.tournament-grid-wrap .grid-row-512 .third-fourth-final {
    top:-20410px
}
.tournament-grid-wrap .grid-row-1024 .one-match {
    height:81920px
}
.tournament-grid-wrap .grid-row-1024 .third-fourth-final {
    top:-40890px
}
.tournament-grid-wrap .grid-row-2048 .one-match {
    height:163840px
}
.tournament-grid-wrap .grid-row-2048 .third-fourth-final {
    top:-81850px
}
.tournament-grid-wrap .third-fourth-final.one-match {
    position:absolute;
    left:100px;
    height:auto;
    top:50%;
    margin-top:46px
}
.tournament-grid-wrap .final {
    left:100px;
    top:-46px
}
.tournament-grid-wrap .first-four-img {
    position:absolute;
    top:50%;
    margin-top:-64px;
    width:83px;
    height:124px;
    background-repeat: no-repeat;
}
.tournament-grid-wrap .players {
    position:absolute;
    left:0;
    top:50%;
    width:160px;
    height:60px;
    box-sizing:border-box;
    margin-top:-30px;
    border-radius:2px;
    box-shadow:1px 1px 4px #aaa;
    z-index:1
}
.tournament-grid-wrap .player {
    display:block;
    height:22px;
    line-height:22px;
    font-size:14px;
    background:#eee;
    color:#333
}
.tournament-grid-wrap .player-none {
    color:#666;
    font-size:13px
}
.tournament-grid-wrap .match-myself {
    transition:box-shadow .4s
}
.tournament-grid-wrap .match-myself.shining {
    box-shadow:0 0 10px #ec971f
}
.tournament-grid-wrap .player-winner {
    position:relative;
    font-weight:700
}
.tournament-grid-wrap .player-winner .player-name {
    width:120px
}
.tournament-grid-wrap .player-winner:before {
    content:' ';
    display:inline-block;
    vertical-align:middle;
    margin-left:2px;
    margin-top:-2px;
    width:14px;
    height:14px;
    background:url(/static/widget/tournament/grid/img/icon_brother_a001710.png) no-repeat;
    background-size:cover
}
.tournament-grid-wrap .player-myself .player-name {
    color:green
}
.tournament-grid-wrap .player-hover {
    background:#c1e1b5!important
}
.tournament-grid-wrap .player-name {
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    padding:0 5px;
    width:137px
}
.tournament-grid-wrap .player-score {
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    text-align:right;
    padding:0 5px;
    padding-left:0;
    width:13%
}
.tournament-grid-wrap .match-content {
    position:relative;
    display:block;
    height:16px;
    line-height:16px;
    text-align:center;
    background:#fff;
    font-size:12px
}
.tournament-grid-wrap .match-link {
    color:#aaa
}
.tournament-grid-wrap .match-link:hover {
    color:#888
}
.tournament-grid-wrap .video-url {
    position:absolute;
    right:10px
}
.tournament-grid-wrap .no-link {
    cursor:default;
    text-decoration:none
}
.tournament-grid-wrap .dispute-link {
    background:red;
    color:#fff
}
.tournament-grid-wrap .warning-link {
    background:#f0ad4e;
    color:#fff
}
@media (max-width:768px) {
    .one-grid {
        width:100%;
        overflow:auto
    }
}
.tournament-grid-wrap .first-four-img {
    background-position:0px 0px
}
.tournament-grid-wrap .first-four-img {
    background-image: url(/static/widget/tournament/grid/grid_z_3d76675.png)
}